.button-share_1 { 
    background-color: $nickel; 
    border-color: $nickel;
    border-radius: 40px;
    text-align: center;
    &:hover {
        background-color: $raisinblack; 
        border-color: $raisinblack;
    }
}