.autor {
    padding-bottom: 80px;
    padding-top: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    }

.autora__imagen {
    border-radius: 100%;
    border: 1px;
    border-color: black;
}
